h1 {
  font-size: 80px;
  line-height: 95px;
  padding-top: 40px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
  font-weight: medium;
}
span {
  font-size: 24px;
}
img {
  vertical-align: middle;
  display: block;
}